# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - commit-message:
      include: "scope"
      prefix: "composer"
    directory: "/vendor-bin/php-cs-fixer"
    labels:
      - "dependency"
    open-pull-requests-limit: 10
    package-ecosystem: "composer"
    schedule:
      interval: "monthly"
    versioning-strategy: "increase"

  - commit-message:
      include: "scope"
      prefix: "composer"
    directory: "/vendor-bin/phpstan"
    labels:
      - "dependency"
    open-pull-requests-limit: 10
    package-ecosystem: "composer"
    schedule:
      interval: "monthly"
    versioning-strategy: "increase"

  - commit-message:
      include: "scope"
      prefix: "composer"
    directory: "/vendor-bin/psalm"
    labels:
      - "dependency"
    open-pull-requests-limit: 10
    package-ecosystem: "composer"
    schedule:
      interval: "monthly"
    versioning-strategy: "increase"

  - commit-message:
      include: "scope"
      prefix: "composer"
    directory: "/vendor-bin/rector"
    labels:
      - "dependency"
    open-pull-requests-limit: 10
    package-ecosystem: "composer"
    schedule:
      interval: "monthly"
    versioning-strategy: "increase"

  - commit-message:
      include: "scope"
      prefix: "github-actions"
    directory: "/"
    labels:
      - "dependency"
    open-pull-requests-limit: 10
    package-ecosystem: "github-actions"
    schedule:
      interval: "monthly"
