/.github/                 export-ignore
/test/                    export-ignore
/vendor-bin/              export-ignore
/.editorconfig            export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/.php-cs-fixer.dist.php   export-ignore
/.yamllint.yaml           export-ignore
/codecov.yml              export-ignore
/Makefile                 export-ignore
/phpstan-baseline.neon    export-ignore
/phpstan.neon.dist        export-ignore
/phpunit.xml.dist         export-ignore
/psalm.baseline.xml       export-ignore
/psalm.xml                export-ignore
/roave-bc-check.yaml      export-ignore
