<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Faker Test Suite">
            <directory>./test/Faker/</directory>
        </testsuite>
        <testsuite name="Html"><!-- promised, we'll remove this ad the end of the WIP -->
            <file>./test/Faker/Provider/HtmlTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
