<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResultFile=".build/.phpunit.result.cache"
    colors="true"
    columns="max"
    executionOrder="random"
    verbose="true"
>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>
    <testsuites>
        <testsuite name="Faker Test Suite">
            <directory suffix="Test.php">./test/Faker</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/Faker</directory>
        </include>
    </coverage>
</phpunit>
